<!-- Default Statcounter code for Dissertation
http://myphd.netlify.app -->
<script type="text/javascript">
    var sc_project=12714961; 
    var sc_invisible=1; 
    var sc_security="ff4b6715"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
    async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/12714961/0/ff4b6715/1/"
    alt="Web Analytics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->