<!-- Default Statcounter code for Dissertation
http://compassionate-yalow-7e985c.netlify.app -->
<script type="text/javascript">
    var sc_project=12714961; 
    var sc_invisible=0; 
    var sc_security="ff4b6715"; 
    var scJsHost = "https://";
    document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="Web Analytics Made Easy -
    Statcounter" href="https://statcounter.com/" target="_blank"><img
    class="statcounter" src="https://c.statcounter.com/12714961/0/ff4b6715/0/"
    alt="Web Analytics Made Easy - Statcounter"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->