[submodule "pandoc-templates"]
	path = pandoc-templates
	url = https://github.com/bbartholdy/pandoc-templates.git
[submodule "articles/byoc-starch"]
	path = articles/byoc-starch
	url = https://github.com/bbartholdy/byoc-starch.git
	branch = qmd-paper
[submodule "articles/mb11CalculusPilot"]
	path = articles/mb11CalculusPilot
	url = https://github.com/bbartholdy/mb11CalculusPilot.git
[submodule "articles/byoc-valid"]
	path = articles/byoc-valid
	url = https://github.com/bbartholdy/byoc-valid
