/*-- scss:defaults --*/

/* Cover image colours:
#782386 (purple)
#ab1866 (pink)
#d1295a (pinkish-red)
#e05b5c (peach)
#ffcc66 (starch) */

// Base document colors
//$body-bg: #181818;
//$body-color: white;
$link-color: #e05b5c;
$footer-bg: #d1295a;

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/

// Fonts

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('font/woff2/Atkinson-Hyperlegible-Regular-102a.woff2');
  src: url('font/woff2/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('font/woff2/Atkinson-Hyperlegible-Bold-102a.woff2');
  src: url('font/woff2/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('font/woff2/Atkinson-Hyperlegible-Italic-102a.woff2');
  src: url('font/woff2/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
       font-weight: normal;
       font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('font/woff2/Atkinson-Hyperlegible-BoldItalic-102a.woff2');
  src: url('font/woff2/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2');
       font-weight: bold;
       font-style: italic;
}

body {
  font-family: 'Atkinson Hyperlegible' !important;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
