/*-- scss:defaults --*/

/* Cover image colours:
#782386 (purple)
#ab1866 (pink)
#d1295a (pinkish-red)
#e05b5c (peach)
#ffcc66 (starch) */

// Base document colors
//$body-bg: #181818;
//$body-color: white;
$link-color: #e05b5c;
$footer-bg: #d1295a;

// Code blocks
$code-block-bg-alpha: -.8;

// Fonts

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
